input[type="email"]
  @extend button

  // Override this setting applied by the button styles.
  user-select: text

  // BUG FIX: Display the border in iOS Safari
  appearance: none

  display: block
  margin: $spacing / 2 auto
  min-width: $mobile-width
  text-align: center
  box-shadow: inset 0 0 0 2px $color--silver-chalice

  &:hover
    transform: none
    cursor: text

  &::placeholder
    color: $color--silver-chalice
