h1, h2
  line-height: 1em
  margin-top: $spacing
  margin-bottom: $spacing

  font-size: 3.2rem
  font-weight: 700
  text-align: center

h3, .subhead, p, ul, ol
  max-width: calc(#{ $tablet-width } - #{ $spacing / 2 })
  margin: $spacing auto
  padding: 0

h3, .subhead
  text-align: center
