{
  "presets": [
    [ "@babel/preset-env", { "targets": "node 10, last 2 edge versions" } ],
    [
      "babel-preset-gatsby",
      {
        "targets": {
          "browsers": [ ">0.25%", "not dead" ]
        }
      }
    ]
  ]
}
