.footer
  +black-theme

  text-align: center

  padding-top: $spacing / 2
  padding-bottom: $spacing / 2

  &__copyright, &__email
    margin: 0

  &__copyright
    margin-right: auto

  +tablet
    display: flex
    gap: $spacing

  &__all-rights
    +less-than-tablet
      display: none
