.learn

  &__header
    margin-bottom: $spacing--header

  &__list
    display: grid
    gap: $spacing
    max-width: $desktop-width

    +tablet
      grid-template-columns: 1fr 1fr

  &__list-item
    margin: 0

