.main-navigation

  background-color: $color--white
  color: $color--bean
  box-shadow: inset 0 -2px $color--wild-sand, 0 $spacing / 2 $spacing #{ $color--shadow }

  // Animate everything!
  transition: all 0.1s ease-in-out

  &__title, &__link, &__button
    margin: $spacing / 2 0

  &__title, &__link
    &:not(:hover)
      text-decoration: none

  &__title
    font-weight: 700

  &__logo
    width: $spacing * 0.8
    height: $spacing * 0.8
    margin-right: $spacing / 4
    position: relative
    top: $spacing * 0.15

    fill: $color--bean

  &__button
    text-shadow: none

    +less-than-desktop
      margin-top: $spacing
      text-align: center

  // Make everything transparent when the navigation is not scrolled
  &:not(.main-navigation--scrolled)
    +desktop
      background-color: transparent
      box-shadow: none

      & > .main-navigation__title
        box-shadow: none

      .main-navigation__title, .main-navigation__link, .main-navigation__button
        &, &:hover, &:visited, &:focus
          color: $color--white

      .main-navigation__logo
        fill: $color--white

      .main-navigation__button
        background-color: $color--white

        &, &:hover, &:visited, &:focus
          color: $color--nero

.main-navigation
  padding-top: 0
  padding-bottom: 0

  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: 200

  // This fix is required to correctly position the react-burger menu.
  +less-than-desktop
    padding: 0

  // In tablet layouts, display everything horizontally
  &, &__items
    +desktop
      display: flex
      align-items: center

  & > :first-child
    margin-right: auto

  & > :first-child, &__items > *
    display: block

    +less-than-desktop
      text-align: center

  // Hide the items when the navigation menu is closed
  &__items
    .main-navigation:not(.main-navigation--open) &
      +less-than-desktop
        display: none

  &__items > *:not(:last-of-type)
    +desktop
      margin-right : $spacing

  &--open
    +less-than-desktop
      bottom: 0

  &__close-icon
    display: block
    width: $spacing * 0.75

  // Override the react-burger-menu styles
  .bm-burger-button
    width: $spacing * 0.75 + $spacing * 1.25
    padding: $spacing * 1.25 / 2
    position: absolute
    top: 0
    left: 0

  .bm-burger-button

    & > button
      border-radius: 0
      box-shadow: none

  .bm-icon
    display: block

  .bm-burger-button
    +desktop
      display: none
