.main-navigation
  padding-top: 0
  padding-bottom: 0

  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: 200

  background-color: $color--white
  color: $color--bean
  box-shadow: inset 0 -2px $color--wild-sand, 0 $spacing / 2 $spacing #{ $color--shadow }

  +tablet
    font-size: $font-size--small

  // Animate everything!
  transition: all 0.1s ease-in-out

  // This fix is required to correctly position the react-burger menu.
  +less-than-desktop
    padding: 0

  // In tablet layouts, display everything horizontally
  &, &__items

    +desktop
      display: flex
      align-items: center

  // Hide the items on mobile
  &__items
    +less-than-desktop
      display: none

  // Don't display underlines unless the user is hovering over the items
  &__title, &__link
    &:not(:hover)
      text-decoration: none

  // Space out the menu items
  &__link
    margin: $spacing * 0.75 $spacing $spacing * 0.75 0

    +tablet
      margin: $spacing * 0.5 $spacing $spacing * 0.5 0


  // Push the title to the left and the items to the right
  &__title
    display: block
    text-align: center
    font-weight: 700
    line-height: $spacing * 2

    +desktop
      margin-right: auto

  // Display the logo right next to the title and vertically center it
  &__logo
    width: $spacing * 0.8
    height: $spacing * 0.8
    margin-right: $spacing / 4
    position: relative
    top: $spacing * 0.15

    fill: $color--bean

  // Don't display a shadow on the menu button because it looks weird
  &__button
    text-shadow: none
    padding: $spacing * 3 / 16 $spacing * 0.75

  // Override the react-burger-menu styles
  &__menu-button
    width: $spacing * 0.75 + $spacing * 1.25
    padding: $spacing * 1.25 / 2
    position: absolute
    top: 0
    left: 0

    +desktop
      display: none

    & > button
      border-radius: 0
      box-shadow: none

  // Display the menu icon as a block instead of the default of inline-block so the button
  // containing it doesn't not have extra space for the line-height.
  &__menu-icon
    display: block

  // Make everything transparent when the navigation is not scrolled
  &:not(.main-navigation--scrolled)
    +desktop
      background-color: transparent
      box-shadow: none

      & > .main-navigation__title
        box-shadow: none

      .main-navigation__title, .main-navigation__link, .main-navigation__button
        &, &:hover, &:visited, &:focus
          color: $color--white

      .main-navigation__logo
        fill: $color--white

      .main-navigation__button
        background-color: $color--white

        &, &:hover, &:visited, &:focus
          color: $color--nero
