.pricing

  &__discount
    margin-bottom: $spacing--header
    text-align: center

  &__tiers
    display: grid
    gap: $spacing

    +desktop
      grid-template-columns: 1fr 1fr 1fr

  &__discount
    color: $color--bean
    font-family: $font-family--handwriting
    font-size: 1.2em
    font-weight: bold
