.tier
  max-width: $spacing * 20
  margin-left: auto
  margin-right: auto

  &__header
    margin-top: 0

  &__price
    line-height: 1em
    font-size: 3.2rem
    text-align: center

    // Reverse the prices
    display: flex
    flex-direction: column-reverse

  &__regular-price, &__discounted-price
    display: inline-block

  &__regular-price
    position: relative
    text-decoration: none

    &::after
      $width: 40px

      content: ""

      position: absolute
      left: 0
      right: 0
      top: 0
      bottom: 0

      background-image: url("../images/strike.svg")
      background-size: $spacing * 5 auto
      background-repeat: no-repeat
      background-position: center

      transform: rotate(-15deg)

  &__discounted-price
    color: $color--bean
    font-family: $font-family--handwriting

  &__item--disabled *
    font-weight: inherit

  &__list
    margin-bottom: 0
