@mixin brown-theme
  background-color: $color--bean
  color: $color--white

  text-shadow: 0 $spacing / 16 $spacing / 8 $color--shadow

  img
    filter: drop-shadow(0 $spacing / 8 $spacing / 8 $spacing / 4 $color--shadow);

  button, .button
    background-color: $color--white
    color: $color--nero

@mixin brown-background-tiles
  background: url(../images/background-tile.svg), linear-gradient(110deg, $color--nero, $color--bean)

@mixin gray-theme
  background-color: $color--wild-sand

@mixin black-theme
  background-color: $color--black
  color: transparentize($color--white, 0.25)

  &__anchor
    &, &:visited, &:focus, &:hover
      color: inherit
