@mixin brown-theme
  background-color: $color--bean
  color: $color--white

  text-shadow: 0 $spacing / 16 $spacing / 8 $color--shadow

  img
    filter: drop-shadow(0 $spacing / 8 $spacing / 8 $spacing / 4 $color--shadow);


  button, .button
    background-color: $color--white
    color: $color--nero

@mixin gray-theme
  background-color: $color--wild-sand
