.free-starter-course
  @include brown-theme

  // Include extra padding for the main navigation
  padding-top: $spacing * 3
  padding-bottom: $spacing * 1

  background: url(../images/background-tile.svg), linear-gradient(110deg, $color--nero, $color--bean)

  &__header
    max-width: $desktop-width
    margin: $spacing auto

  *
    position: relative
    z-index: 1
