.free-intro-course
  @include brown-theme

  // Include extra padding for the main navigation
  padding-top: $spacing * 3
  padding-bottom: $spacing * 1

  background: url(../images/background-tile.svg), linear-gradient(110deg, $color--nero, $color--bean)

  +tablet
    display: flex
    align-items: center
    justify-content: center
    min-height: calc(100vh - #{ $spacing * 2 })

  &__header
    max-width: $desktop-width
    margin: $spacing auto

  &__list
    max-width: $spacing * 20
