.free-intro-course
  @include brown-theme
  @include brown-background-tiles
  @include full-screen

  &__header
    max-width: $desktop-width
    margin: $spacing auto

  &__list
    display: grid
    gap: 0 $spacing
    max-width: $mobile-width * 0.8

    +tablet
      max-width: $tablet-width
      grid-template-columns: 1fr 1fr

    +desktop
      max-width: $desktop-width
      grid-template-columns: 1fr 1fr 1fr
