.hero
  @include brown-theme

  $curve-width: 50%
  $gradient-offset: $curve-width / ($curve-width * 2 + 100%) * 100%

  overflow-x: hidden
  background: none
  position: relative
  padding-bottom: $spacing * 8

  // Include extra padding for the main navigation
  padding-top: $spacing * 10.5

  *
    position: relative
    z-index: 1

  &__logo
    height: $spacing * 2

    +tablet
      margin-right: 0.25em
      top: 0.1em

    +less-than-tablet
      display: block
      margin: 0 auto $spacing

  // Use a pseudoelement to create a curved background
  &::before
    @include brown-background-tiles

    content: ""
    display: block
    position: absolute
    top: 0
    left: -$curve-width
    right: -$curve-width
    bottom: 0

    background: url(../images/background-tile.svg), linear-gradient(110deg, $color--nero $gradient-offset, $color--bean 100% - $gradient-offset)
    border-bottom-left-radius: 100%
    border-bottom-right-radius: 100%
