.hero
  @include brown-theme

  $curve-height: $spacing * 2.5
  $mobile-curve-width: 100%
  $tablet-curve-width: 75%
  $desktop-curve-width: 50%

  overflow-x: hidden
  background: none
  position: relative

  padding-top: $spacing * 4 + $curve-height
  padding-bottom: $spacing * 4

  +tablet
    padding-top: $spacing * 6 + $curve-height
    padding-bottom: $spacing * 6

  +desktop
    padding-top: $spacing * 8 + $curve-height
    padding-bottom: $spacing * 8

  *
    position: relative
    z-index: 1

  &__logo
    height: $spacing * 2

    +tablet
      margin-right: 0.25em
      top: 0.1em

    +less-than-tablet
      display: block
      margin: 0 auto $spacing

  // Use a pseudoelement to create a curved background
  &::before

    @mixin curved-bottom($curve-width)
      $gradient-offset: $curve-width / ($curve-width * 2 + 100%) * 100%

      left: -$curve-width
      right: -$curve-width

      background: url(../images/background-tile.svg), linear-gradient(110deg, $color--nero $gradient-offset, $color--bean 100% - $gradient-offset)

    @include brown-background-tiles

    content: ""
    display: block
    position: absolute
    top: 0
    bottom: 0

    border-bottom-left-radius: 100%
    border-bottom-right-radius: 100%

    +curved-bottom($mobile-curve-width)

    +tablet
      +curved-bottom($tablet-curve-width)

    +desktop
      +curved-bottom($desktop-curve-width)
